---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div><h1 class="text-3xl w-full font-bold text-primary">RESUME</h1></div>
  </div>

  <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Education</h1></div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD Student in Probability"
      coauthors="Under the supervision of Emmanuel Schertzer, Jean-Jil Duchamps and Amaury Lambert"
      subtitle="From November 2023, Collège de France, ENS Paris and University of Vienna"
    >
    </TimeLineElement>
    <TimeLineElement
      title="M2 Mathématiques de l'aléatoire, Probabilité et Statistiques"
      subtitle="2022-2023, IMO, Orsay, France"
    >
    <a class="link-secondary" href="https://www.imo.universite-paris-saclay.fr/en/students/masters-programs/mathematics-and-applications/m2/probabilites-et-statistiques/" target="_blank">Master</a> in probability theory
    </TimeLineElement>
    <TimeLineElement
    title="École Polytechnique, X2019"
    subtitle="2019-2023, Palaiseau, France"
  >
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Research internships</h1></div>
  </div>

  <div class="time-line-container mb-10">

    <TimeLineElement
    title="Research Internship (M2)"
    coauthors="Under the supervision of Emmanuel Schertzer and Amaury Lambert"
    subtitle="April - August 2023, Collège de France and ENS Paris, France"
  >
  </TimeLineElement>
  <TimeLineElement
  title="Research Internship (M1)"
  coauthors="Under the supervision of Emmanuel Schertzer"
  subtitle="April - July 2022, University of Vienna, Austria"
  >
  </TimeLineElement>

  </div>

  <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Teaching experience</h1></div>
  </div>

  <div class="time-line-container mb-10">

    <TimeLineElement
    title="Teaching assistant in maths"
    coauthors="BSc students (L2-L3)"
    subtitle="2024-2025, UFC Besançon, France"

  >
  </TimeLineElement>

    <TimeLineElement
    title="Teaching assistant in maths-bio"
    coauthors="BSc/MSc students (L3-M1)"
    subtitle="2023-2024, IBENS, ENS Paris, France"
  >
  </TimeLineElement>
  
  <TimeLineElement
  title="Mentoring in mathematics and physics"
  coauthors="Lycée Français de Barcelone (undergraduate students)"
  subtitle="October 2019 - June 2020, Barcelona, Spain"
  >
  </TimeLineElement>

  <TimeLineElement
  title="Teaching Internship"
  coauthors="Teaching assistant in mathematics at Lycée Français de Barcelone and UPC Catalunya"
  subtitle="October 2019 - April 2020, Barcelona, Spain"
  >
  </TimeLineElement>
  </div>
  </div>

  
  <div class="pb-12 mt-5">
    <text class="w-full text-s">
      <a class="link-secondary" href="https://drive.google.com/file/d/1nBJ0DeLlu0fogS3gL_yG8eVOx620U0zz/view?usp=sharing" target="_blank">My CV in PDF (last updated 05/2024)</a>
  </div>
</BaseLayout>
