---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research</div>
  </div>


  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Publications and preprints</div>
  </div> 

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Genealogies in multitype frequency-dependent branching processes via spinal decomposition"
    coauthors="with Félix Foutel-Rodier and Emmanuel Schertzer"
    subtitle="2024+, ongoing"
  >
    <!--<b>Abstract:</b> TBA-->
  </TimeLineElement>

  </div>


  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Talks and posters</div>

  </div>

  <div class="time-line-container mb-10">
  <TimeLineElement
    title="Mathematical Models in Ecology and Evolution, Vienna, Austria, July 15th - 18th, 2024"
    <p><span class="font-light text-sm">Poster in <a class="link-accent" href="https://ps-mathematik.univie.ac.at/e/index.php?event=mmee2024" target="_blank"> MMEE24</a></span></p>
  </TimeLineElement> 
  <TimeLineElement
  title="Junior Female Researchers in Probability Workshop, WIAS, Berlin, Germany, July 3rd – 5th 2024"
  <p><span class="font-light text-sm">Contributed talk in <a class="link-accent" href="https://www.wias-berlin.de/workshops/JFRP24/" target="_blank">JFRP 24</a></span></p>
  </TimeLineElement> 
    <TimeLineElement
      title="6th “Stochastic Processes in Evolutionary Biology” tri-annual conference, CIRM, Luminy, France, May 20th - 24th 2024"
      <p><span class="font-light text-sm">Contributed talk and poster in <a class="link-accent" href="https://conferences.cirm-math.fr/3000.html" target="_blank"> CIRM </a></span></p>
    
    </TimeLineElement>
    <TimeLineElement
      title="Probability Seminar, Université de Besançon, France, May 5th 2024"
      subtitle="Seminar talk"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Math-bio Seminar, University of Vienna, Austria, April 26th 2024"
      subtitle="Seminar talk"
    >

    </TimeLineElement>
  </div>

  <text class="text-lg">
    <b>Collaborators' webpages:</b><br> <a class="link-accent" href="https://homepage.univie.ac.at/emmanuel.schertzer/" target="_blank">Emmanuel Schertzer</a> -
    <a class="link-accent" href="https://www.normalesup.org/~foutelrodier/" target="_blank">Félix Foutel-Rodier</a>
   - <a class="link-accent" href="https://duchamps.perso.math.cnrs.fr/" target="_blank">Jean-Jil Duchamps</a>
  </text>
  
</BaseLayout>
