---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Research" sideBarActiveItemID="research">
  <div>
    <div><h1 class="text-3xl w-full font-bold mb-5 text-primary">RESEARCH</h1></div>
  </div>


  <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Publications and preprints</h1></div>
  </div> 

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Genealogies in multitype frequency-dependent branching processes via spinal decomposition"
    coauthors="with Félix Foutel-Rodier and Emmanuel Schertzer"
    subtitle="2024+, ongoing"
  >
    <!--<b>Abstract:</b> TBA-->
  </TimeLineElement>

  </div>


  <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Talks and posters</h1></div>

  </div>

  <div class="time-line-container mb-10">
    <!-- 
    <TimeLineElement
    title="Journée du GT Math-Bio Sud-Est, Inria Lyon, France, December 15th - 18th, 2024"
    <p><span class="font-light text-sm">Contributed talk in <a class="link-secondary" href="https://project.inria.fr/gdtmathbio/" target="_blank">GDT Math-Bio</a></span></p>
  </TimeLineElement> 
  -->
  <TimeLineElement
    title="Mathematical Models in Ecology and Evolution, Vienna, Austria, July 15th - 18th, 2024"
    <p><span class="font-light text-sm">Poster in <a class="link-secondary" href="https://ps-mathematik.univie.ac.at/e/index.php?event=mmee2024" target="_blank"> MMEE24</a></span></p>
  </TimeLineElement> 
  <TimeLineElement
  title="Junior Female Researchers in Probability Workshop, WIAS, Berlin, Germany, July 3rd – 5th 2024"
  <p><span class="font-light text-sm">Contributed talk in <a class="link-secondary" href="https://www.wias-berlin.de/workshops/JFRP24/" target="_blank">JFRP 24</a></span></p>
  </TimeLineElement> 
  <TimeLineElement
  title="LMB Doctoral Seminar, Université de Besançon, France, June 11th 2024"
  subtitle="Seminar talk"
>
</TimeLineElement>
    <TimeLineElement
      title="6th “Stochastic Processes in Evolutionary Biology” tri-annual conference, CIRM, Luminy, France, May 20th - 24th 2024"
      <p><span class="font-light text-sm">Contributed talk in <a class="link-secondary" href="https://conferences.cirm-math.fr/3000.html" target="_blank"> CIRM </a> (<a class="link-secondary" href="https://www.cirm-math.fr/RepOrga/3000/Slides/2024-05-24_André.pdf" target="_blank">slides</a>)</span></p>
    
    </TimeLineElement>
    <TimeLineElement
      title="Probability Seminar, Université de Besançon, France, May 5th 2024"
      subtitle="Seminar talk"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Math-bio Seminar, University of Vienna, Austria, April 26th 2024"
      subtitle="Seminar talk"
    >

    </TimeLineElement>
  </div>

   <div class="mb-5">
    <div><h1 class="text-2xl w-full font-bold">Other activities</h1></div>

  </div>
  <div class="time-line-container mb-10">
<TimeLineElement>
        I am one of the organizers of a <a class="link-secondary" href="https://probabio-lmb.pages.math.cnrs.fr/events.html" target="_blank">one-day meeting in Besançon</a> on December 10th, 2024. The event is centered on stochastic models in biology, with a particular emphasis on epidemic modeling, populations under selection, and genealogies in interacting populations. Registration <a class="link-secondary" href="https://indico.math.cnrs.fr/event/13101/" target="_blank">here</a> (deadline November 20th, 2024). 
          </TimeLineElement>
          <TimeLineElement>I was part of the organisation team of <a class="link-secondary" href="https://ps-mathematik.univie.ac.at/e/index.php?event=mmee2024" target="_blank"> MMEE24</a>, Vienna, July 2024

        </TimeLineElement>
  </div>
</div>


  <text class="text-base">
    <h1 class="text-2xl w-full font-bold">Collaborators' webpages:</h1> <a class="link-secondary" href="https://homepage.univie.ac.at/emmanuel.schertzer/" target="_blank">Emmanuel Schertzer</a> -
    <a class="link-secondary" href="https://www.normalesup.org/~foutelrodier/" target="_blank">Félix Foutel-Rodier</a>
   - <a class="link-secondary" href="https://duchamps.perso.math.cnrs.fr/" target="_blank">Jean-Jil Duchamps</a>
  </text>
  

</BaseLayout>
