---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Teaching" sideBarActiveItemID="teaching">
  <div>
    <div class="text-3xl font-bold mb-5">Teaching</div>
  </div>
  
  <div class="pb-12 mt-5">
      <text class="w-full text-lg">
        As part of my PhD, I am a teaching assistant for the following lectures in mathematics (probability, analysis, statistics) and programming, at Bachelor and Masters level.
        


      <br><br>
      <div class="mb-5">
        <div class="text-xl w-full font-bold">2024-2025:</div>
      </div>
        <ul class="list-disc mx-6 mb-10 grid gap-2">
          <li>
            <p>Intégration (TD L3)</p>
            <p><a class="link-accent" href="https://formation.univ-fcomte.fr/licence/licence-mathematiques-licence-mathematique-appliquee" target="_blank">L3 Mathematics</a> at Université de Franche-Comté (36h)</p>
          </li>
          <li>
            <p>Statistiques et probabilités 2 (TD L2)</p>
            <p><a class="link-accent" href="https://formation.univ-fcomte.fr/licence/licence-economie-et-gestion-classe-preparatoire-ens-cachan-mutualise-avec-le-lycee-pergaud" target="_blank">L2 Economics and management</a> at Université de Franche-Comté (18h)</p>
          </li>
          </ul>
          <div class="mb-5">
            <div class="text-xl w-full font-bold">2023-2024:</div>

          </div>
          <ul class="list-disc mx-6 mb-10 grid gap-2">
          <li>
            <a class="link-accent" href="https://www.edu.bio.ens.psl.eu/spip.php?article42&lang=fr" target="_blank"> Mathematics II : What biologists might like to know</a> (TD/TP M1)
          <p>M1 IMaLiS at IBENS, ENS Paris (25h)</p>
          </li>
          <li>
            <a class="link-accent" href="https://www.edu.bio.ens.psl.eu/spip.php?article32&lang=fr" target="_blank">  Mathematics I : What a biologist should know</a> (TD L3)
            <p>L3 Biology at IBENS, ENS Paris (25h)</p>
          </li>
          <li>
            <a class="link-accent" href="https://www.edu.bio.ens.psl.eu/spip.php?article280&lang=fr" target="_blank">  Open desk for coding skills</a> (TP L3)

            <p>L3 Biology at IBENS, ENS Paris (14h)</p>
          </li>

        </ul>
    </div>

    
    <div class="pb-12 mt-5">
      <text class="w-full text-lg">

    </div>
</BaseLayout>
